<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-4">
  <h1 class="text-4xl font-bold text-blue-600 mb-4">Book Details</h1>
  @if(book){
    <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-md relative overflow-hidden">
      @if(book.cover){
        <img [src]="book.cover" alt="Cover" class="absolute inset-0 w-full h-full object-cover opacity-60">
      }@else{
        <div class="absolute inset-0 bg-gray-200"></div>
      }
      <div class="relative z-10 space-y-4">
        <div class="bg-black bg-opacity-50 p-4 rounded">
          <p class="text-2xl font-semibold text-white">Title: {{ book.title }}</p>
        </div>
        <div class="bg-black bg-opacity-50 p-4 rounded">
          <p class="text-lg text-white"><span class="font-semibold">Author:</span> {{ book.author }}</p>
        </div>
        <div class="bg-black bg-opacity-50 p-4 rounded">
          <p class="text-lg text-white"><span class="font-semibold">Category:</span> {{ book.category }}</p>
        </div>
        <div class="bg-black bg-opacity-50 p-4 rounded">
          <p class="text-lg text-white"><span class="font-semibold">Published Date:</span> {{ book.publishedAt | date }}</p>
        </div>
      </div>
    </div>
  }
  <a href="/books" class="mt-6 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300 ease-in-out transform hover:scale-105">Back to Books</a>
</div>
